* {
margin:0;
padding:0;
	}
body {
background:#000;
background-size:cover;
height: 100%;
}
.box {
	position:relative;
}
.box:after {
	conter:'';
	clear:both;
	display: table;
}
.div1 {
text-align:center;
margin-top:50px;
}
#clock {
border:1px solid #00ff4e;
box-shadow: 8px 3px 12px rebeccapurple, -7px 3px 18px rgba(180, 0, 255, 0.89);
background:url(image/11.jpg) no-repeat;
background-size:cover;
border-radius:50%;
position: relative;
z-index: 99999;
}
.diaotu {
	width:80px;
	height:80px;
	border-radius:50%;
	background:url(image/11.jpg) no-repeat 0 -18px;
	background-size: cover;
	margin:0 auto;
	position: absolute;
	bottom:-22%;
	left:50%;
	margin-left:-40px;
	animation:myainmate 3s linear 5s infinite;
	-webkit-animation:myainmate 3s linear 5s infinite;
}
@keyframes myainmate {
	from {transform:rotateY(0);}
	to {transform: rotateY(360deg);}
}


#lunbo2Span {
	width:80%;
	margin:78px auto;
	color:#000;
	font-size: 35px;
	text-align:center;
}


.snow-container {
	width:100%;
	height:100%;
	overflow: hidden;
	position:fixed;
	top: 0;
	left:0;
	
}
.snow {
	width:100%;
	height:100%;
	position:absolute;
	top:-500px;
	-webkit-animation:mymove infinite linear;
	-moz-animation:mymove infinite linear;
	-ms-animation:mymove infinite linear;
	animation:mymove infinite linear;
}
.snow.foreground {
    background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png);
    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    -ms-animation-duration: 8s;
  	animation-duration: 8s;
}
.layered {
	background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	-ms--animation-delay: 3s;
	animation-delay: 3s;
	-webkit-animation-duration: 9s;
	-moz-animation-duration: 9s;
	-ms-animation-duration: 9s;
	animation-duration: 9s;
}
.middleground {
	background-image: url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-ms-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-duration: 10s;
	-moz-animation-duration: 10s;
	-ms-animation-duration: 10s;
	animation-duration: 10s;
}
@keyframes mymove {
	from{top:0;}
	to{top:1000px;}
}
@-webkit-keyframes mymove {
	from{top:0;}
	to{top:1000px;}
}
@-moz-keyframes mymove {
	from{top:0;}
	to{top:1000px;}
}

#text {
	color:#fbd505;
	margin:20px;
	padding:20px;
	border-radius:25px;
	text-indent: 20px;
	background:rgba(181, 34, 149, 0.78);
}
.spimg {
	display:inline-block;
	animation: spimg 30s infinite 7s linear;
	position: relative;
}
@keyframes spimg {
	0%{left:0;}
	50%{left:86%;}
	100%{left:0}
}