<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../themes/icon.css">
<script type="text/javascript" src="../jquery.min.js"></script>
<script type="text/javascript" src="../jquery.easyui.min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<style type="text/css">
#fm {
    margin: 0;
    padding: 10px 30px;
}

.ftitle {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.fitem {
    margin-bottom: 5px;
}

.fitem label {
    display: inline-block;
    width: 80px;
}
</style>
<div id="crud_search" class="easyui-panel" title="搜索条件" style="width:100%;margin-bottom: 10px;">
    <table cellpadding="5">
        <tr>
            <td>邀请码规则:</td>
            <td>
                <select id="gtype_s" class="easyui-combobox">
                    <option value="n" selected>数字</option>
                    <option value="ns">数字+字符</option>
                </select>
            </td>
            <td></td>
            <td>
            </td>
            <td></td>
            <td>
            </td>
            <td></td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="GetList('1', '10');" data-options="iconCls:'icon-search'">搜索</a>
            </td>
        </tr>
    </table>
</div>
<table id="dg" title="" class="easyui-datagrid"></table>
<div id="p" class="easyui-pagination"></div>
<div id="dlg" class="easyui-dialog" style="padding:10px;" closed="true" buttons="#dlg-buttons">
    <form id="fm">
        <input id="crud_id" value="" style="display: none;"></input>
        <input id="crud_type" value="0" style="display: none;"></input>
        <div class="fitem">
            <label>邀请码规则</label>
            <select id="gtype" class="easyui-combobox" style="width:173px;">
                <option value="n" selected>数字</option>
                <option value="ns">数字+字符</option>
            </select>
        </div>
        <div class="fitem" style="text-align: center;">
            <label style="width: 200px;font-weight: bold;">引用的条件</label>
        </div>
        <div class="fitem">
            <ul id="icondids" class="easyui-tree" style="height: 100px;overflow: scroll;overflow-x: hidden;border: 1px solid #655"></ul>
        </div>
        <div class="fitem">
            <label>生成个数</label>
            <input id="cnum" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>是否已经生成</label>
            <input id="is_gen" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>失效时间</label>
            <input id="deadline" class="easyui-datetimebox" required="required">
        </div>
        <div class="fitem">
            <label>是否有效</label>
            <select id="sfyx" class="easyui-combobox" style="width:173px;">
                <option value="1" selected>是</option>
                <option value="0">否</option>
            </select>
        </div>
        <div class="fitem">
            <label>备注</label>
            <input id="bz" class="easyui-textbox" data-options="multiline:true" style="height: 50px;"></input>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveRecord()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
<script type="text/javascript">
var dg, curPage = 1;
$(function() {
    $('#icondids').tree({
        animate: true,
        onlyLeafCheck: true,
        checkbox: true
    });

    dg = $('#dg');
    dg.datagrid({
        width: '100%',
        height: '500px',
        rownumbers: true,
        fitColumns: true,
        singleSelect: true,
        remoteSort: false,
        toolbar: [{
            id: 'add',
            text: '新增',
            iconCls: 'icon-add',
            handler: function() {
                newRecord();
            }
        }, {
            id: 'edit',
            text: '编辑',
            iconCls: 'icon-edit',
            handler: function() {
                editRecord();
            }
        }, {
            id: 'detl'
            text: '删除',
            iconCls: 'icon-remove',
            handler: function() {
                deleteRecord();
            }
        }, {
            id: 'gen'
            text: '生成',
            iconCls: 'icon-filter',
            handler: function() {
                genCode();
            }
        }],
        columns: [
            [{
                field: 'id',
                title: 'id',
                hidden: true
            }, {
                field: 'gtype',
                title: '邀请码规则',
                hidden: true
            }, {
                field: 'gtype_text',
                title: '邀请码规则'
            }, {
                field: 'icondidsName',
                title: '引用的条件'
            }, {
                field: 'cnum',
                title: '验证码个数'
            }, {
                field: 'isGen_text',
                title: '是否已经生成'
            }, {
                field: 'deadline',
                title: '过期时间'
            }, {
                field: 'sfyx',
                title: '是否有效',
                hidden: true
            }, {
                field: 'sfyx_text',
                title: '是否有效'
            }, {
                field: 'bz',
                title: '备注',
                hidden: true
            }, {
                field: 'createDate',
                title: '创建时间'
            }, {
                field: 'lastUpdateDate',
                title: '上一次修改时间'
            }]
        ],
    });
    $('#dlg').dialog({
        modal: true
    });
    // console.log(p);
    $('#p').pagination({
        beforePageText: '第 ',
        afterPageText: '页 共 {pages} 页',
        displayMsg: '当页显示 {from} 到 {to} 条记录 ,  共 {total} 条记录',
        pageList: [10, 20, 30],
        onSelectPage: function(pageNo, pageSize) {
            curPage = pageNo;
            GetList(pageNo, pageSize);
        }
    });
    GetList(1, 10);
});

function GetList(pageNo, pageSize) {
    var _url = '/auinvitetype/api/list';
    var inputData = {
        gtype: TValue('gtype_s'),
        pageNo: pageNo + '',
        pageSize: pageSize + ''
    };
    Pn.post(_url, inputData, function(respData) {
        if (respData.sta) {
            dg.datagrid({
                data: respData.data.result
            });
            $('#p').pagination({
                total: respData.data.totalCount,
                pageSize: pageSize,
                pageNumber: pageNo
            });
        } else {
            ErrorPop('c', respData.msg);
        }
    })
}

function newRecord() {
    $('#dlg').dialog('open').dialog('setTitle', '新增');
    $('#fm').form('clear');
    $('#crud_id').val('');
    $('#is_gen').textbox({
        editable: false
    });
    GetCond('');
}

function saveRecord() {
    var _url = '/auinvitetype/api/';
    if ('1' == $('#crud_type').val()) {
        _url += 'update';
    } else {
        _url += 'create';
    }
    var nodes = $('#icondids').tree('getChecked');
    var nodes_len = nodes.length;
    var icondids = '';
    for (var i = 0; i < nodes_len; i++) {
        icondids += ',' + nodes[i].id;
    };
    icondids = icondids.substr(1);
    var inputData = {
        id: $('#crud_id').val(),
        gtype: CValue('gtype'),
        icondids: icondids,
        cnum: TValue('cnum'),
        is_gen: TValue('is_gen'),
        deadline: DValue('deadline'),
        sfyx: CValue('sfyx'),
        bz: TValue('bz')
    };
    // console.log(JSON.stringify(inputData));
    Pn.post(_url, inputData, function(respData) {
        if (respData.sta) {
            $('#dlg').dialog('close');
            GetList(curPage, 10);
        } else {
            ErrorPop('c', respData.msg);
        }
    });
}

function editRecord() {
    var row = $('#dg').datagrid('getSelected');
    // row = 1;
    if (row) {
        $('#dlg').dialog('open').dialog('setTitle', '编辑');
        $('#crud_id').val(row.id);
        $('#crud_type').val('1');
        //fill data
        CValue('gtype', row.gtype);
        TValue('cnum', row.cnum + '');
        TValue('is_gen', row.isGen_text);
        $('#is_gen').textbox({
            editable: false
        });
        DValue('deadline', row.deadline);
        CValue('sfyx', row.sfyx);
        TValue('bz', row.bz);
        GetCond(row.id);
    } else {
        ErrorPop('c', '没有选择任何数据！');
    }
}

function genCode() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        if('是' == row.isGen_text){
            ErrorPop('c', '已经生成！');
            return;
        };
        $.messager.confirm('确认', '确定生成邀请码？', function(r) {
            if (r) {
                var _url = '/auinvitecode/api/createcodes';
                Pn.post(_url, {
                    id: row.id,
                    userid: window.sessionStorage.getItem('userid'),
                    gtype: row.gtype,
                    cnum: row.cnum + ''
                }, function(respData) {
                    if (respData.sta) {
                        ErrorPop('c', '生成成功！');
                    } else {
                        ErrorPop('c', respData.msg);
                    }
                });
            }
        });
    } else {
        ErrorPop('c', '没有选择任何数据！');
    }
}

function GetCond(id) {
    $('#icondids').tree({
        data: []
    });
    Pn.post('/auinvitetype/api/choosecond', {
        id: id,
    }, function(respData) {
        if (respData.sta) {
            $('#icondids').tree({
                data: respData.data
            });
        } else {
            ErrorPop('c', respData.msg);
        }
    });
}

function deleteRecord() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        $.messager.confirm('确认', '确定删除？', function(r) {
            if (r) {
                var _url = '/auinvitetype/api/delete';
                Pn.post(_url, {
                    id: row.id
                }, function(respData) {
                    if (respData.sta) {
                        GetList(curPage, 10);
                    } else {
                        ErrorPop('c', respData.msg);
                    }
                });
            }
        });
    } else {
        ErrorPop('c', '没有选择任何数据！');
    }
}
</script>
