<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="../themes/icon.css">
<script type="text/javascript" src="../jquery.min.js"></script>
<script type="text/javascript" src="../jquery.easyui.min.js"></script>
<script type="text/javascript" src="../common.js"></script>
<style type="text/css">
#fm {
    margin: 0;
    padding: 10px 30px;
}

.ftitle {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.fitem {
    margin-bottom: 5px;
}

.fitem label {
    display: inline-block;
    width: 80px;
}
</style>
<div id="crud_search" class="easyui-panel" title="搜索条件" style="width:100%;margin-bottom: 10px;">
    <table cellpadding="5">
        <tr>
            <td>所属应用：</td>
            <td>
                <select id="appid_s" class="easyui-combobox" style="width: 173px;"></select>
            </td>
            <td>资源编号:</td>
            <td>
                <input id="rescode_s" class="easyui-textbox" type="text"></input>
            </td>
            <td>资源名称:</td>
            <td>
                <input id="resname_s" class="easyui-textbox" type="text"></input>
            </td>
            <td></td>
            <td>
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="GetList('1', '10');" data-options="iconCls:'icon-search'">搜索</a>
            </td>
        </tr>
    </table>
</div>
<table id="dg" title="" class="easyui-datagrid"></table>
<div id="p" class="easyui-pagination"></div>
<div id="dlg" class="easyui-dialog" style="padding:10px;" closed="true" buttons="#dlg-buttons">
    <form id="fm">
        <input id="crud_id" value="" style="display: none;"></input>
        <input id="crud_type" value="0" style="display: none;"></input>
        <div class="fitem">
            <label>资源编号</label>
            <input id="rescode" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>资源名称</label>
            <input id="resname" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>所属应用</label>
            <select id="appid" class="easyui-combobox" style="width: 173px;"></select>
        </div>
        <div class="fitem">
            <label>所属应用</label>
            <input id="appname" class="easyui-textbox" style="display: none;">
        </div>
        <div class="fitem">
            <label>资源地址</label>
            <input id="respath" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>资源类型</label>
            <select id="restype" class="easyui-combobox" style="width: 173px;">
                <option value="1">菜单</option>
                <option value="2" selected>功能</option>
            </select>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveRecord()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">取消</a>
</div>
<div id="dlg1" class="easyui-dialog" style="padding:10px;" closed="true" buttons="#dlg-buttons1">
    <form id="fm">
        <input id="crud_id1" value="" style="display: none;"></input>
        <input id="crud_type1" value="0" style="display: none;"></input>
        <div class="fitem">
            <label>资源编号</label>
            <input id="rescode1" class="easyui-textbox" data-options="disabled:true">
        </div>
        <div class="fitem">
            <label>资源名称</label>
            <input id="resname1" class="easyui-textbox" data-options="disabled:true">
        </div>
        <div class="fitem">
            <label>参数类型</label>
            <select id="paratype" class="easyui-combobox" style="width: 173px;">
                <option value="1" selected>用户扩展属性</option>
                <option value="2">企业扩展属性</option>
                <option value="3">sql限定</option>
            </select>
        </div>
        <div class="fitem">
            <label>参数值</label>
            <input id="paraval" class="easyui-textbox">
        </div>
        <div class="fitem">
            <label>sql片段</label>
            <input id="sql" class="easyui-textbox" data-options="multiline:true" style="height: 50px;">
        </div>
    </form>
</div>
<div id="dlg-buttons1">
    <a href="#" class="easyui-linkbutton" iconCls="icon-no" onclick="deleteLimit()">删除</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveLimit()">保存</a>
    <a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg1').dialog('close')">取消</a>
</div>
<script type="text/javascript">
var dg, curPage = 1;
$(function() {
    Pn.post('/appinfo/api/selelist', {
        pageSize: '999'
    }, function(respData) {
        $('#appid_s,#appid').combobox({
            valueField: 'appid',
            textField: 'appname',
            data: respData.data.result
        });
    });

    dg = $('#dg');
    dg.datagrid({
        width: '100%',
        height: '500px',
        rownumbers: true,
        fitColumns: true,
        singleSelect: true,
        remoteSort: false,
        toolbar: [{
            text: '新增',
            iconCls: 'icon-add',
            handler: function() {
                newRecord();
            }
        }, {
            text: '编辑',
            iconCls: 'icon-edit',
            handler: function() {
                editRecord();
            }
        }, {
            text: '删除',
            iconCls: 'icon-remove',
            handler: function() {
                deleteRecord();
            }
        }, {
            text: '数据限定',
            iconCls: 'icon-filter',
            handler: function() {
                dataLimit();
            }
        }],
        columns: [
            [{
                field: 'resCode',
                title: '资源编号'
            }, {
                field: 'resName',
                title: '资源名称'
            }, {
                field: 'appid',
                title: '所属应用id',
                hidden: true
            }, {
                field: 'appName',
                title: '所属应用'
            }, {
                field: 'resPath',
                title: '资源地址'
            }, {
                field: 'resTypeVal',
                title: '资源类型'
            }, {
                field: 'createDate',
                title: '创建时间'
            }, {
                field: 'lastUpdateDate',
                title: '上一次修改时间'
            }]
        ],
    });
    $('#dlg,#dlg1').dialog({
        modal: true
    });
    // console.log(p);
    $('#p').pagination({
        beforePageText: '第 ',
        afterPageText: '页 共 {pages} 页',
        displayMsg: '当页显示 {from} 到 {to} 条记录 ,  共 {total} 条记录',
        pageList: [10, 20, 30],
        onSelectPage: function(pageNo, pageSize) {
            curPage = pageNo;
            GetList(pageNo, pageSize);
        }
    });
    GetList(1, 10);
});

function GetList(pageNo, pageSize) {
    var _url = '/resinfo/api/list';
    var inputData = {
        appid: CValue('appid_s'),
        rescode: TValue('rescode_s'),
        resname: TValue('resname_s'),
        pageNo: pageNo + '',
        pageSize: pageSize + ''
    };
    Pn.post(_url, inputData, function(respData) {
        if (respData.sta) {
            dg.datagrid({
                data: respData.data.result
            });
            $('#p').pagination({
                total: respData.data.totalCount,
                pageSize: pageSize,
                pageNumber: pageNo
            });
        } else {
            ErrorPop('c', respData.msg);
        }
    })
}

function newRecord() {
    $('#dlg').dialog('open').dialog('setTitle', '新增');
    $('#fm').form('clear');
    $('#appid').parent().show();
    $('#appname').parent().hide();
    $('#crud_id').val('');
}

function saveRecord() {
    var _url = '/resinfo/api/';
    if ('1' == $('#crud_type').val()) {
        _url += 'update';
    } else {
        _url += 'create';
    }
    var inputData = {
        id: $('#crud_id').val(),
        resCode: TValue('rescode'),
        resName: TValue('resname'),
        appid: CValue('appid'),
        resPath: TValue('respath'),
        resType: TValue('restype')
    };
    // console.log(inputData);
    Pn.post(_url, inputData, function(respData) {
        if (respData.sta) {
            $('#dlg').dialog('close');
            GetList(curPage, 10);
        } else {
            ErrorPop('c', respData.msg);
        }
    });
}

function editRecord() {
    var row = $('#dg').datagrid('getSelected');
    // row = 1;
    if (row) {
        $('#dlg').dialog('open').dialog('setTitle', '编辑');
        // console.log(row.id);
        $('#crud_id').val(row.id);
        $('#crud_type').val('1');
        //fill data
        TValue('rescode', row.resCode);
        TValue('resname', row.resName);
        CValue('appid', row.appid);
        TValue('respath', row.resPath);
        CValue('restype', row.resType);
        $('#appid').parent().hide();
        $('#appname').parent().show();
        TValue('appname', row.appName);
        $('#appname').textbox({
            editable: false
        });
    } else {
        ErrorPop('c', '没有选择任何数据！');
    }
}

function dataLimit() {
    var row = $('#dg').datagrid('getSelected');
    // row = 1;
    if (row) {
        $('#dlg1').dialog('open').dialog('setTitle', '数据限定');
        // console.log(row.id);
        $('#crud_id1').val(row.id);
        TValue('rescode1', row.resCode);
        TValue('resname1', row.resName);
        Pn.post('/datarange/api/pkone', {
            resid: row.id
        }, function(result) {
            if (result.data) {
                $('#crud_type1').val('1');
                CValue('paratype', result.data.condtype);
                TValue('paraval', result.data.confvalue);
                TValue('sql', result.data.slice);
            } else {
                $('#crud_type1').val('0');
                CValue('paratype', '1');
                TValue('paraval', '');
                TValue('sql', '');
            }
        })
    } else {
        ErrorPop('c', '没有选择任何数据！');
    }
}

function saveLimit() {
    var _url = '/datarange/api/';
    if ('1' == $('#crud_type').val()) {
        _url += 'update';
    } else {
        _url += 'create';
    }
    var inputData = {
        resid: $('#crud_id1').val(),
        condtype: CValue('paratype'),
        confvalue: TValue('paraval'),
        slice: TValue('sql')
    };
    // console.log(inputData);
    Pn.post(_url, inputData, function(respData) {
        if (respData.sta) {
            $('#dlg1').dialog('close');
        } else {
            ErrorPop('c', respData.msg);
        }
    });
}

function deleteLimit() {
    var _url = '/datarange/api/delete';
    // console.log(inputData);
    $.messager.confirm('确认', '确定删除？', function(r) {
        if (r) {
            var _url = '/datarange/api/delete';
            Pn.post(_url, {
                resid: $('#crud_id1').val()
            }, function(respData) {
                if (respData.sta) {
                    $('#dlg1').dialog('close');
                } else {
                    ErrorPop('c', respData.msg);
                }
            });
        }
    });
}

function deleteRecord() {
    var row = $('#dg').datagrid('getSelected');
    if (row) {
        $.messager.confirm('确认', '确定删除？', function(r) {
            if (r) {
                var _url = '/resinfo/api/delete';
                Pn.post(_url, {
                    id: row.id
                }, function(respData) {
                    if (respData.sta) {
                        GetList(curPage, 10);
                    } else {
                        ErrorPop('c', respData.msg);
                    }
                });
            }
        });
    } else {
        ErrorPop('c', '没有选择任何数据！');
    }
}
</script>
